<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Nget Web UI</title>
    <link rel="shortcut icon" href="img/ngetlogo.png" type="image/png">
    <link rel="stylesheet" href="css/uikit.min.css">
</head>
<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li></li>
                <li class="uk-active"><a>Nget Web UI</a></li>
                <li class="uk-parent"><a href="/"><span uk-icon="download"></span> Download Manager</a></li>
                <li><a href="/about"><span uk-icon="info"></span> About Nget</a></li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="uk-container">
        <img src="img/logotext.png" alt="Nget">
        <p style="font-size: larger;">version <%=version %></p>
        <p id="statustext" style="color: green; font-size: larger;">[<%=status %>]</p>
        <p>
            Nget is a simple download manager that can be used to download files from the internet. 
            <br>
            It is a command-line tool that can be used to download files from the internet using a simple and easy-to-use interface.
            <br> 
            Nget is written in Node.js and is available for Windows, macOS, and Linux.
        </p> 
        <h3>Powered by:</h3>
        <ul>
            <li>Axios 1.6.7</li>
            <li>EJS 3.1.9</li>
            <li>Express 4.18.2</li>
            <li>UIkit 3.18.3</li>
            <li>Socket.IO 4.7.4</li>
        </ul>
        <br>
        <h3>Developed by:</h3>
        <a href="http://github.com/star08-web" target="_blank" rel="noopener noreferrer">star08-web</a>
        <p>Licensed under MIT License</p>
    </div>
</body>
    <script src="js/uikit-icons.js"></script>
    <script src="js/uikit.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const status = document.getElementById('statustext');
            if (status.textContent === "[Non-Production]") {
                status.style.color = "orange";
                UIkit.notification({
                    message: "<span uk-icon='warning'></span> This is a non production version of Nget. It may contain bugs and issues. Use at your own risk.",
                    status: "warning",
                    pos: "top-right",
                    timeout: 5000
                })
            } 
        })
    </script>
</html>