<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nget Web UI</title>
    <link rel="stylesheet" href="css/uikit.min.css">
</head>
<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li></li>
                <li class="uk-active"><a>Nget Web UI</a></li>
                <li class="uk-parent"><a href="/"><span uk-icon="download"></span> Download Manager</a></li>
                <li><a href="/about"><span uk-icon="info"></span> About Nget</a></li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="uk-container">
        <h1>Your Downloads</h1>
    </div>
</body>
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script>
</html>